.tox/
.coverage
.idea/*
.cache/
__pycache__/
*.pyc
virtualenv_run/
.venv*
*.egg-info/
dist/
venv/
env/
.envrc
build/
.pytest_cache/
*.swp
*~
vuegraf.json
int
docker-compose.yaml
vugraftobe.py
config.json
